{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}Bookstore{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">Bookstore</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a {% if request.resolver_match.url_name == 'about' %}class="nav-link active"
                                aria-current="page" {% else %}class="nav-link" {% endif %}
                                href="{% url 'about' %}">About</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a {% if request.resolver_match.url_name == 'login' %}class="nav-link active"
                                aria-current="page" {% else %}class="nav-link" {% endif %}
                                href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a {% if request.resolver_match.url_name == 'signup' %}class="nav-link active"
                                aria-current="page" {% else %}class="nav-link" {% endif %}
                                href="{% url 'signup' %}">Sign Up</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container pt-4">
        {% block content %}
        {% endblock content %}
    </div>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
</body>

</html>