{% extends '_base.html' %} {% comment 'extends must be first tag' %}{% endcomment %}

{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<h1>Homepage</h1>
<img class="bookcover" src="{% static 'images/dfp.jpg' %}" alt="Cover for the book Django for Professionals">

{% if user.is_authenticated %}
<p>Hi {{ user.email }}!</p>

<p><a href="{% url 'account_logout' %}" class="btn btn-danger">Log out</a></p>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'account_login' %}" class="btn btn-primary">Log in</a>
<a href="{% url 'account_signup' %}" class="btn btn-success">Sign Up</a>
{% endif %}
{% endblock content %}